# vim:set ft=ldif:
#
dn: ${LDAP_SUFFIX}
objectClass: top
objectClass: dcObject
objectClass: organization
dc: ${LAPD_ORGANIZATION}
o: ${LAPD_ORGANIZATION}

dn: cn=admin,${LDAP_SUFFIX}
objectClass: organizationalRole
cn: admin

dn: ou=users,${LDAP_SUFFIX}
objectClass: organizationalUnit
ou: users

dn: ou=groups,${LDAP_SUFFIX}
objectClass: organizationalUnit
ou: groups
